replicaCount: 1

image:
  repository: ghcr.io/zang-lab/bartweb
  pullPolicy: Always
  tag: latest

imagePullSecrets:
  - name: "ghcr-regcred-bartweb"

nameOverride: ""
fullnameOverride: ""

podAnnotations: {}
podLabels: {}
podSecurityContext: {}
# fsGroup: 2000

securityContext: {}
# capabilities:
#   drop:
#   - ALL
# readOnlyRootFilesystem: true
# runAsNonRoot: true
# runAsUser: 1000

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    cpu: 1
    memory: 2Gi
  requests:
    cpu: 0.5
    memory: 1Gi

nodeSelector: {}
tolerations: []
affinity: {}