apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "bartweb.fullname" . }}-app
  labels:
    {{- include "bartweb.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "bartweb.selectorLabels" . | nindent 6 }}

  template:
    metadata:
      annotations:
        {{- with .Values.podAnnotations }}
          {{- toYaml . | nindent 8 }}
          {{- end }}
      labels:
        {{- include "bartweb.labels" . | nindent 8 }}
          {{- with .Values.podLabels }}
          {{- toYaml . | nindent 8 }}
          {{- end }}

    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}

      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}

          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP

          resources:
            {{- toYaml .Values.resources | nindent 12 }}
#
#          volumeMounts:
#            - name: bartweb-slib2-pvc
#              mountPath: /slib2
#            - name: bartweb-weblog-pvc
#              mountPath: /var/log/nginx/web
#
#      volumes:
#        - name: bartweb-slib2-pvc
#          persistentVolumeClaim:
#            claimName: bartweb-slib2-pvc
#        - name: bartweb-weblog-pvc
#          persistentVolumeClaim:
#            claimName: bartweb-weblog-pvc

      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
